.component-btn {
	border-radius: 0.6rem;
	outline: 0;
	cursor: pointer;
	transition: 0.3s ease;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 1.5rem 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15.2rem;
}
.component-btn a {
	color: var(--color-white);
	font-size: 1.1rem;
	font-weight: 600;
	text-transform: uppercase;
}
.primary-btn {
	background-color: var(--color-main);
}
.primary-btn:hover {
	background-color: var(--color-hover);
}
.secondary-btn {
	border-color: transparent;
	background-color: var(--color-white);
	color: var(--color-main);
}
.secondary-btn:hover {
	background-color: var(--color-main);
	color: var(--color-white);
}
.long-btn {
	width: 285px;
}
