* {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	line-height: 2.6rem;
	box-sizing: border-box;
	font-family: var(--font-main);
}

a {
	text-decoration: none;
	line-height: 1.5rem;
}

ul {
	list-style: none;
}

.d-flex {
	display: flex;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-between {
	justify-content: space-between;
}

/* .wrapper {
	max-width: 1800px;
	margin: 0 auto;
} */

/* Large Desktop */
.container {
	max-width: 1160px;
	margin: 0 auto;
}

/* Desktop */
@media screen and (max-width: 1440px) {
	.container {
		max-width: calc(1160px + 40px);
		padding: 40px;
	}
}

/* Tablet */
@media (max-width: 768px) {
	.container {
		max-width: calc(608px + 24px);
		padding: 24px;
	}
}

/* Mobie */
@media (max-width: 375px) {
	.container {
		max-width: calc(327px + 12px);
		padding: 0 12px;
	}
}

.main-wrapper {
	background-color: #f6f8f9;
}
