.d-none {
  display: none;
}
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.glance-item-center {
  align-items: center;
}
.f-wrap {
  flex-wrap: wrap;
}