.button-component {
	border-radius: 2.5rem;
	outline: 0;
	border: none;
	cursor: pointer;
	transition: 0.3s ease;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 1.5rem 3rem;
	color: var(--color-white);
	font-size: 1.6rem;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
}

.primary-btn {
	border-color: #ff9500;
	background-color: #ff9500;
}
.primary-btn:hover {
	background-color: var(--color-hover);
}
.secondary-btn {
	border-color: transparent;
	background-color: var(--color-white);
	color: var(--color-main);
}
.secondary-btn:hover {
	background-color: var(--color-main);
	color: var(--color-white);
}
.long-btn {
	width: 285px;
}
