.footer {
	background-color: #a6adb4;
	padding: 6rem 0;
	margin: auto 0;
}
.footer-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer-item {
}
.footer-info {
	display: flex;
}
.footer-logo {
	font-size: 1.3rem;
	font-weight: 600;
	color: var(--color-white);
	text-transform: uppercase;
	margin-right: 6.5rem;
}
.footer-list-wrapper {
}
.footer-list {
	margin-right: 4rem;
}
.footer-item-link {
	font-size: 1.3rem;
	font-weight: 600;
	color: #cbd0d3;
}
.footer-input form {
	display: flex;
	flex-direction: column;
	width: 28.4rem;
	position: relative;
}
.footer-input input {
	font-size: 1.3rem;
	padding: 1.4rem 2rem;
	border-radius: 6px;
	outline: none;
	border: 1px solid #cbd0d3;
	background-color: #a6adb4;
	color: #cbd0d3;
}
.footer-input input::placeholder {
	color: #cbd0d3;
}
.footer-input label {
	font-size: 1.1rem;
	color: #cbd0d3;
	margin-top: 1.6rem;
}
.footer-input button {
	position: absolute;
	top: 18%;
	right: 3rem;
	background-color: transparent;
	border: none;
}
.footer-icon {
}
.footer-icon-list {
	display: flex;
	align-items: center;
}
.icon-list-item {
	margin-right: 3.2rem;
}
.item-link {
}
@media (max-width: 1024px) {
	.footer-item:first-child {
		width: 100%;
		margin-bottom: 5rem;
	}
	.footer-item:last-child {
		margin-top: auto;
	}
	.footer-logo {
		flex: 1;
	}
}

@media (max-width: 768px) {
	.footer-item:first-child {
		width: 100%;
		margin-bottom: 5rem;
	}
	.footer-item:last-child {
		margin-top: auto;
	}
	.footer-logo {
		flex: 1;
	}
}

@media (max-width: 375px) {
	.footer {
		display: none;
	}
}
