/* .section-slide-brand {
	display: flex;
	justify-content: space-between;
	align-items: center;
  width: 100%;
  padding: 0 2.5rem;
  overflow-x: hidden;
  background-color: gray;
}

.section-slide-brand .slide-brand-item {
  display: flex;
  width: 100%;
  justify-content: center;
	flex: 0 0 calc(100% / 6 - 25px);
	max-width: calc(100% / 6 - 25px);
}

.section-slide-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide-brand-img {
  height: 100%;
  object-fit: cover;
} */

.slides {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide {
  padding: 0 2.5rem;
}

.slide img {
  object-fit: cover;
}

.brand-wrapper {
  overflow: hidden;
  width: 100%;
}


@media only screen and (max-width: 1024px) {
  .slide-brand-item:nth-last-child(1), .slide-brand-item:nth-last-child(2) {
    display: none;
  }
  .slide-brand-item {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .slide-brand-item {
    display: block;
  }
  .slide-brand-item:not(:nth-child(1),:nth-child(2),:nth-child(3)) {
    display: none;
  }
}

@media (max-width: 475px) {
  .slide-brand-item {
    display: block;
  }
  .slide-brand-item:not(:nth-child(1),:nth-child(2)) {
    display: none;
  }
}