.section-glance {
	background-image: url(../../../images/bg-welcome-home.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 5rem 0;
}
.glance-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 4.5rem;
	flex-wrap: wrap;
}
.glance-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px;
	width: 24rem;
	margin: 0 30px;
}
.glance-item-img {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 170px;
}
.glance-item img {
	width: 100%;
}
.glance-item-number {
	font-size: 4rem;
	line-height: 4.6rem;
	font-weight: 500;
	margin: 3rem 0 0.5rem;
}
.glance-item-text {
	font-size: 1.6rem;
	line-height: 2.2rem;
	font-weight: 400;
}

@media (max-width: 768px) {
  .glance-wrapper {
    flex-direction: column;
  }
	.glance-item {
		max-width: 100%;
		margin-bottom: 25px;
	}
}
