.section-insight {
	background-color: var(--color-blue);
	padding: 5rem 0;
}
.insight-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 4rem;
	flex-wrap: wrap;
}
.insight-item {
	box-shadow: 0 0 5px rgb(10 31 68 / 8%);
	flex: 0 0 calc(100% / 4 - 10px);
	max-width: calc(100% / 4 - 10px);
	margin-bottom: 20px;
	border-radius: 0.8rem;
	overflow: hidden;
}
.insight-item-img {
	height: 25rem;
	display: block;
	overflow: hidden;
}
.insight-item:hover .insight-item-img img {
	transform: scale(1.1);
}
.insight-item-img img {
	height: 100%;
	object-fit: cover;
	object-position: center;
	width: 100%;
	transition: transform 0.3s;
}
.insight-info {
	padding: 1.5rem 2rem;
	background-color: var(--color-white);
}
.insight-item-tag {
	font-size: 1.2rem;
	font-weight: 1.4rem;
	font-weight: 400;
	color: var(--color-main);
	text-transform: uppercase;
}
.insight-item-title {
	font-size: 1.8rem;
	line-height: 2.3rem;
	font-weight: 600;
	color: var(--color-mainText);
	margin: 1.5rem 0;
	height: 70px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}
.insight-item-date {
	font-size: 1.2rem;
	line-height: 1.7rem;
	color: #828282;
}
.insight-btn {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 990px) {
	.insight-item {
		flex: 0 0 calc(100% / 2 - 10px);
		max-width: calc(100% / 2 - 10px);
	}
}

@media (max-width: 768px) {
	.insight-item {
		flex: 0 0 calc(100% / 2 - 10px);
		max-width: calc(100% / 2 - 10px);
	}
}

@media (max-width: 575px) {
	.insight-item {
		flex: 0 0 100%;
		max-width: 100%;
	}
}