.section-package {
	padding: 5rem 0;
	position: relative;
	display: block;
}
.package-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 3rem;
}
.package-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	z-index: -1;
}
.package-item {
	flex: 0 0 calc(100% / 3 - 1.5rem);
	max-width: calc(100% / 3 - 1.5rem);
	margin-bottom: 3rem;
	/* padding: 1.5rem; */
}
.package-box {
	height: 100%;
	padding: 30px 25px;
	border-radius: 10px;
	border: 1px solid #c8c7cc;
	transition: 0.3s ease;
	background-color: #fff;
}
.package-box:hover {
	border: 1px solid var(--color-main);
}
.package-box:hover .package-title .package-title-link {
	color: var(--color-main);
}
.package-box:hover .package-title .package-title-link .package-title-icon {
	opacity: 1;
	transform: translateX(0);
}
.package-icon {
	height: 4.5rem;
	width: 4.5rem;
}
.package-icon img {
	height: 100%;
}
.package-title {
	display: flex;
	margin: 2.5rem 0 1rem;
}
.package-title .package-title-link {
	font-size: 2.4rem;
	line-height: 2.8rem;
	font-weight: 600;
	color: black;
	display: flex;
	width: 100%;
	align-items: center;
	cursor: pointer;
}
.package-title-icon {
	transition: 0.3s ease;
	width: 2.4rem;
	margin-left: 1rem;
	opacity: 0;
	transform: translateX(-1rem);
}
.package-desc {
	font-size: 1.6rem;
	line-height: 2.2rem;
}
.package-box.no-border {
	border: none;
	background-color: transparent;
}

/* Small box */
.package-item.package-box-small {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.package-box.package-box-small {
	padding: 1.5rem 2.5rem;
	height: auto;
}
.package-box.package-box-small:not(:last-child) {
	margin-bottom: 1.8rem;
}
.package-box.package-box-small .package-title {
	margin: 0;
}
.package-box.package-box-small .package-title-link {
	display: flex;
	justify-content: space-between;
}
.package-title-content {
	display: flex;
	align-items: center;
}
.package-box.package-box-small .package-icon {
	width: 2.5rem;
	height: 2.5rem;
}

@media (max-width: 1024px) {
	.package-item {
		flex: 0 0 calc(100% / 2 - 2rem);
		max-width: calc(100% / 2 - 2rem);
		margin-bottom: 3rem;
	}
	.package-item:nth-child(5) {
		display: none;
	}
}

@media (max-width: 768px) {
	.package-wrapper {
		margin: 0;
	}
	.package-item {
		flex: 0 0 100%;
		max-width: 100%;
		margin-bottom: 3rem;
		padding: 1.5rem;
	}
}
